@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinarioModel
@{
}

<h2>Agregar o editar veterinarios</h2>

<form method="post" >
    <div class="form-group">
        <input type="hidden" asp-for = "veterinario.Id" />
        <label asp-for="veterinario.Cedula"></label>
        <input asp-for="veterinario.Cedula" class="form-control">
        <label asp-for="veterinario.Nombres"></label>
        <input asp-for="veterinario.Nombres" class="form-control">
        <label asp-for="veterinario.Apellidos"></label>
        <input asp-for="veterinario.Apellidos" class="form-control">
        <label asp-for="veterinario.Direccion"></label>
        <input asp-for="veterinario.Direccion" class="form-control">
        <label asp-for="veterinario.Telefono"></label>
        <input asp-for="veterinario.Telefono" class="form-control">
        <label asp-for="veterinario.TarjetaProfesional"></label>
        <input asp-for="veterinario.TarjetaProfesional" class="form-control">

        
         <div>
      <button  type="submit" class="boton-veterinario">Grabar</a>
        </div>
    </div>

</form>
<a asp-page="./ListadoVeterinario" class="fa-solid fa-arrow-rotate-left" id="BA"> </a>
