@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <section id ="banner">
      <div class ="Contenido-banner">
        <h3><span>Mascota Feliz</span></h3>
        
      </div>
  </section>
<section id="personal">
    <div>
      <img src="./little-cute-animal-doctor-veterinarian-dog-puppy-cartoon-pet-health-care-vector.jpg" alt="">
      <h4>Nuestro Personal</h4>
      <a href="/Veterinarios/ListadoVeterinario" class="boton-veterinario">Veterinarios</a>
    </div>

</section>

 <section id="iconos">   
    <div class="contenido-iconos">
      <div>
        <i class="fa-solid fa-dog fa-10x"></i>
      </div>

      <div>
        <i class="fa-solid fa-cat fa-10x"></i>
      </div>
      <div id="icono-final">
        <i class="fa-sharp fa-solid fa-shield-halved fa-10x"></i>
      </div>

    </div>
  </section>

</div>
