@page
@model MascotaFeliz.App.Frontend.Pages.AgregarVisitaModel
@{
}
<h2>Agregar</h2>

<form method="post" >
    
    <div class="form-group">
        <input type="hidden" asp-for = "visita.Id" />
        <label asp-for="visita.FechaVisita"></label>
        <input asp-for="visita.FechaVisita" class="form-control">
        <label asp-for="visita.Temperatura"></label>
        <input asp-for="visita.Temperatura" class="form-control">
        <label asp-for="visita.Peso"></label>
        <input asp-for="visita.Peso" class="form-control">
        <label asp-for="visita.FrecuenciaRespiratoria"></label>
        <input asp-for="visita.FrecuenciaRespiratoria" class="form-control">
        <label asp-for="visita.FrecuenciaCardiaca"></label>
        <input asp-for="visita.FrecuenciaCardiaca" class="form-control">
        <label asp-for="visita.EstadoAnimo"></label>
        <input asp-for="visita.EstadoAnimo" class="form-control">
        <label asp-for="visita.Recomendaciones"></label>
        <input asp-for="visita.Recomendaciones" class="form-control">

        <label for="veterinario">Veterinario</label>
        <select id="veterinario" asp-for="visita.Veterinario.Id" name = "veterinarioId">
            <option value="">Seleccione un Veterinario</option>
            @foreach (var veterinario in Model.listaVeterinarios)
            {
                <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>
            }
        </select>

        <button type="submit" class="boton-veterinario">Grabar</button>
    </div>

</form>

<a asp-page="./ListaMascotas" class="boton-veterinario">Lista de Mascotas </a>

