<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MascotaFeliz.App.Frontend</title>
    
    <link rel="stylesheet" href="~/css/syles.css" />
</head>
<body>
<header>
    <h2 class="logo">Mascotafeliz</h2>
    <input type="checkbox" id="Check">
    <label for="Check" class="Mostrar-menu">
        &#8801
    </label>
<nav class="menu">
    <a href="a">inicion</a>
    <a href="a">Listar mascotas</a>
    <a href="a">Listr dueños</a>
    <label for="Check" class="Esconder-menu ">
        &#215
    </label>

</nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MascotaFeliz.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
